@model List<Passenger>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-header">Passengers</h5>
                <a asp-action="Create" class="btn rounded-pill btn btn-primary text-white" style="margin-right:20px">Create</a>
            </div>
            <div class="table-responsive text-nowrap">
                <table id="myTickets" class="table">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Seat Number</th>
                            <th>Phone Number</th>
                            <th>Status</th>
                            <th style="text-align:right">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (Passenger item in Model)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td>@item.SeatNumber</td>
                                <td>@item.PhoneNumber</td>
                                <td>
                                    @if (item.IsDeactive)
                                    {
                                        <span class="text-danger">Passive</span>
                                    }
                                    else
                                    {
                                        <span class="text-success">Active</span>
                                    }
                                </td>
                                <td>
                                    <div class="d-flex justify-content-end">
                                        <a asp-action="Detail" asp-route-id="@item.Id" class="btn rounded-pill btn btn-warning text-white" style="margin-right:5px">Detail</a>
                                        <a asp-action="Update" asp-route-id="@item.Id" class="btn rounded-pill btn btn-info text-white" style="margin-right:5px">Update</a>
                                        @if (item.IsDeactive)
                                        {
                                            <a asp-action="Activity" asp-route-id="@item.Id" class="btn rounded-pill btn btn-success" style="margin-right:5px;width:150px">Activate</a>
                                        }
                                        else
                                        {
                                            <a asp-action="Activity" asp-route-id="@item.Id" class="btn rounded-pill btn btn-danger" style="margin-right:5px;width:150px">Deactivate</a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>